<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<body>

    <header>
        <h1>Registration</h1>
        <h1>Login</h1>
    </header>
    <div class="main">
        <div class="registration">
            <div>
                <p>First Name :</p>
                <p>last Name :</p>
                <p>Email :</p>
                <p>password :</p>
                <p>Confirm PW :</p>
            </div>
            <div>
                <form action="/registration" method="post">
                    {%csrf_token%}
                    <input type="text" name="first_name">
                    <input type="text" name="last_name">
                    <input type="email" name="email">
                    <input type="password" name="password">
                    <input type="password" name="confirm">
                    <input type="Submit" value="Register">
                </form>
            </div>
        </div >
        <div class=login>

            <div>
                <p>Login :</p>
                <p>password :</p>
            </div>
            <div>
                <form action="/login" method="post">
                    {%csrf_token%}
                    <input type="email" name="email">
                    <input type="password" name="password">
                    <input type="Submit" value="Log In">
                </form>
            </div>
        </div>
    </div>
</body>
<footer>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</footer>

</html>